html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
}
.navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 991.98px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}


.bd-navbar {
    /*min-height: 4rem;*/
    background-color: #7952b3;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

@media (min-width: 768px) {
    .bd-navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
    }

    .flex-md-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }

    .bd-links {
        display: block!important;
    }
}

