<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href="https://cdn.genossys.com/css/fontawesome/css/all.min.css" rel="stylesheet">

   <link href="{{ asset('css/genosStyle.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    {% block css %}{% endblock %}
</head>
<body>
<div class="skippy overflow-hidden">
    <div class="container-xl">
        <a class="sr-only sr-only-focusable d-inline-flex p-2 m-1" href="#content">Skip to main content</a><a class="sr-only sr-only-focusable d-none d-md-inline-flex p-2 m-1" href="#bd-docs-nav">Skip
            to docs navigation</a></div>
</div>


<header class="navbar navbar-expand navbar-dark flex-column flex-md-row navbar-dark bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="d-block" viewBox="0 0 612 612" role="img" focusable="false"><title>Bootstrap</title>
            <path fill="currentColor"
                  d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"/>
            <path fill="currentColor"
                  d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"/>
        </svg>
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/docs/4.5/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/docs/4.5/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://icons.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Icons');" target="_blank" rel="noopener">Icons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://themes.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');" target="_blank" rel="noopener">Themes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://expo.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');" target="_blank" rel="noopener">Expo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://blog.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" target="_blank" rel="noopener">Blog</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                v4.5
            </a>
            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                <a class="dropdown-item active" href="/docs/4.5/">Latest (4.5.x)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://getbootstrap.com/docs/3.4/">v3.4.1</a>
                <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/docs/versions/">All versions</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2" href="https://github.com/twbs" target="_blank" rel="noopener" aria-label="GitHub">
                <svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" focusable="false"><title>GitHub</title>
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"/>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://twitter.com/getbootstrap" target="_blank" rel="noopener" aria-label="Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 416.32" role="img" focusable="false"><title>Twitter</title>
                    <path fill="currentColor"
                          d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92"/>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://bootstrap-slack.herokuapp.com/" target="_blank" rel="noopener" aria-label="Slack">
                <svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 512" role="img" focusable="false"><title>Slack</title>
                    <path fill="currentColor" d="M210.787 234.832l68.31-22.883 22.1 65.977-68.309 22.882z"/>
                    <path fill="currentColor"
                          d="M490.54 185.6C437.7 9.59 361.6-31.34 185.6 21.46S-31.3 150.4 21.46 326.4 150.4 543.3 326.4 490.54 543.34 361.6 490.54 185.6zM401.7 299.8l-33.15 11.05 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.38-68.36 22.92 11.46 34.38c4.5 13.92-2.87 29.06-16.78 33.56-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18l-11.46-34.43-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.5-13.92 2.87-29.06 16.78-33.56l33.12-11.03-22.1-65.9-33.15 11.05c-2.87.82-6.14 1.64-9 1.23a27.32 27.32 0 0 1-24.56-18c-4.48-13.93 2.89-29.07 16.81-33.58l33.15-11.05-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.46 34.38 68.36-22.92-11.46-34.38c-4.5-13.92 2.87-29.06 16.78-33.56s29.06 2.87 33.56 16.78l11.47 34.42 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.87 29.06-16.78 33.56L329.7 194.6l22.1 65.9 33.15-11.05c13.92-4.5 29.06 2.87 33.56 16.78s-2.88 29.07-16.81 33.57z"/>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://opencollective.com/bootstrap/" target="_blank" rel="noopener" aria-label="Open Collective">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" fill-rule="evenodd" class="navbar-nav-svg" viewBox="0 0 40 41" role="img" focusable="false"><title>Open Collective</title>
                    <path fill-opacity=".4" d="M32.8 21c0 2.4-.8 4.9-2 6.9l5.1 5.1c2.5-3.4 4.1-7.6 4.1-12 0-4.6-1.6-8.8-4-12.2L30.7 14c1.2 2 2 4.3 2 7z"/>
                    <path d="M20 33.7a12.8 12.8 0 0 1 0-25.6c2.6 0 5 .7 7 2.1L32 5a20 20 0 1 0 .1 31.9l-5-5.2a13 13 0 0 1-7 2z"/>
                </svg>
            </a>
        </li>
    </ul>

    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/docs/4.5/getting-started/download/">Download</a>
</header>


<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar">
            <form role="search" class="bd-search d-flex align-items-center">
                <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.5">
                <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
                        aria-label="Toggle docs navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title>
                        <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/>
                    </svg>
                </button>
            </form>

            <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/getting-started/introduction/">
                        Getting started
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/getting-started/introduction/">
                                Introduction
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/download/">
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/contents/">
                                Contents
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/browsers-devices/">
                                Browsers & devices
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/javascript/">
                                JavaScript
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/theming/">
                                Theming
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/build-tools/">
                                Build tools
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/webpack/">
                                Webpack
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/getting-started/accessibility/">
                                Accessibility
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/layout/overview/">
                        Layout
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/layout/overview/">
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/layout/grid/">
                                Grid
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/layout/utilities-for-layout/">
                                Utilities for layout
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/content/reboot/">
                        Content
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/content/reboot/">
                                Reboot
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/content/typography/">
                                Typography
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/content/code/">
                                Code
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/content/images/">
                                Images
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/content/tables/">
                                Tables
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/content/figures/">
                                Figures
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bd-toc-item active">
                    <a class="bd-toc-link" href="/docs/4.5/components/alerts/">
                        Components
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/components/alerts/">
                                Alerts
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/badge/">
                                Badge
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/breadcrumb/">
                                Breadcrumb
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/buttons/">
                                Buttons
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/button-group/">
                                Button group
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/card/">
                                Card
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/carousel/">
                                Carousel
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/collapse/">
                                Collapse
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/dropdowns/">
                                Dropdowns
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/forms/">
                                Forms
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/input-group/">
                                Input group
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/jumbotron/">
                                Jumbotron
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/list-group/">
                                List group
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/media-object/">
                                Media object
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/modal/">
                                Modal
                            </a>
                        </li>
                        <li class="active bd-sidenav-active">
                            <a href="/docs/4.5/components/navs/">
                                Navs
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/navbar/">
                                Navbar
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/pagination/">
                                Pagination
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/popovers/">
                                Popovers
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/progress/">
                                Progress
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/scrollspy/">
                                Scrollspy
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/spinners/">
                                Spinners
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/toasts/">
                                Toasts
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/components/tooltips/">
                                Tooltips
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/utilities/borders/">
                        Utilities
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/utilities/borders/">
                                Borders
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/clearfix/">
                                Clearfix
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/close-icon/">
                                Close icon
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/colors/">
                                Colors
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/display/">
                                Display
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/embed/">
                                Embed
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/flex/">
                                Flex
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/float/">
                                Float
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/image-replacement/">
                                Image replacement
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/interactions/">
                                Interactions
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/overflow/">
                                Overflow
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/position/">
                                Position
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/screen-readers/">
                                Screen readers
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/shadows/">
                                Shadows
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/sizing/">
                                Sizing
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/spacing/">
                                Spacing
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/stretched-link/">
                                Stretched link
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/text/">
                                Text
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/vertical-align/">
                                Vertical align
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/utilities/visibility/">
                                Visibility
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/extend/approach/">
                        Extend
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/extend/approach/">
                                Approach
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/extend/icons/">
                                Icons
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/migration/">
                        Migration
                    </a>

                    <ul class="nav bd-sidenav"></ul>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="/docs/4.5/about/overview/">
                        About
                    </a>

                    <ul class="nav bd-sidenav">
                        <li>
                            <a href="/docs/4.5/about/overview/">
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/about/team/">
                                Team
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/about/brand/">
                                Brand
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/about/license/">
                                License
                            </a>
                        </li>
                        <li>
                            <a href="/docs/4.5/about/translations/">
                                Translations
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
                    {% block body %}{% endblock %}

                </div>
            </main>
            <script src="//code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                    crossorigin="anonymous"></script>


            {% block js %}{% endblock %}
</body>
</html>
