{% macro datatable(id='tableData') %}
    <table id="{{ id }}" class="mdl-data-table" style="width:100%">
        <thead>
        </thead>

        <tbody>
        </tbody>
    </table>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
{% endmacro %}

{% macro datatableJS(class, space, tableAction, tableFields, where = null, id = 'tableData', export = false, marketing = null) %}
    <script>
        $(document).ready(function () {
            {% set data = where %}
            var whereTxt = '{{ where }}';
            var exp = '{{ export }}';
            var where = whereTxt.replace(/&quot;/g, '\"');
            console.log('wherenya adalah = '+where);
            var button = [];
            console.log('{{ export }}');
            var title = '';

            {#/**/           console.log('{{ data|replace({"&quot;" : '"'}) }}')#}
            if ('{{ export }}' === '1') {
                switch ('{{ id }}') {
                    case "tabelData":
                        title = '( Kos )';
                        break;
                    case "kontrakan" :
                        title = '( Kontrakan )';
                        break;
                    default :
                        title = '( Guest House )';
                        break;
                }
                button.push({
                    extend: 'excelHtml5',
                    className: 'btn-primary',
                    text: '<i class="material-icons left">save</i>Excel',
                    title: 'Tabel Marketing {{ marketing }} ' + title,
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        },
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                })
            }
            var {{ id }} =
            $("#{{ id }}").DataTable({
                responsive: true,
                processing: true,
                serverSide: true,
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                dom: 'Bfrtip',
                buttons: button,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    // debugger;
                    var numStart = this.fnPagingInfo().iStart;
                    var index = numStart + iDisplayIndexFull + 1;
                    // var index = iDisplayIndexFull + 1;
                    $("td:first", nRow).html(index);
                    return nRow;
                },
                language: {
                    processing: "<div class='loading-datatables'>" +
                        "<i class='material-icons spin mr1' >cached</i>" +
                            {#"<img src='{{ asset('images/loadingdatatables.png')}}'/>" +#}
                        "<p>Tunggu Sebentar ya..</p>" +
                        "</div>"
                },
                ajax: {
                    url: '{{ path('datatable-get') }}',
                    method: 'GET',
                    data: {
                        'class': '{{ class }}',
                        'space': '{{ space }}',
                        'actions': '{{ tableAction }}',
                        'where': where
                        // ,
                        // ,
                        {#'where' : JSON.parse({{ where|json_encode() }})#}
                    }
                },
                columnDefs: [
                    {
                        "title": "#",
                        "searchable": false,
                        "orderable": false,
                        "targets": 0,
                    },
                    {% set lenfields = tableFields|length-1 %}
                    {% set index = 1 %}
                    {% for i in 0..lenfields %}
                    {"title": "{{ tableFields[i]['label'] }}", 'targets': {{ i+1 }}, 'searchable': true, 'orderable': true},
                    {% endfor %}
                    {% if tableAction is not  null %}
                    {
                        "title": "Aksi", "width": "100", 'targets': {{ lenfields+2 }}, "searchable": false, "orderable": false,
                    }
                    {% endif %}
                ],

                columns: [
                    // {"defaultContent": ""},
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    // {"defaultContent": ""},
                    {% for i in 0..lenfields %}
                    {"data": "{{ tableFields[i]['field'] }}"},
                    {% endfor %}
                    // {"defaultContent": "<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>"},
                    {% if  tableAction > 2 %}
                    {"data": "action", "width": "150"}
                    {% elseif  tableAction is not  null %}
                    {"data": "action", "width": "100"}

                    {% endif %}

                ],

                "order": [[1, 'asc']]
            });

            {{ id }}.on('order.dt search.dt', function () {
                {{ id }}.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                    {{ id }}.cell(cell).invalidate('dom');
                });
            }).draw();

            $(document).on("click", 'a#deleteData', function (ev) {

                alertify.confirm('Warning', 'Apakah anda yakin untuk menghapus data', function () {

                        var xhr1 = new XMLHttpRequest();
                        xhr1.open('POST', "{{ path('datatable-delete') }}", true);
                        xhr1.onload = function () {
                            if (xhr1.status === 200 && xhr1.readyState === 4) {
                                var data = JSON.parse(xhr1.response);
                                showToast(data['status'], data['label']);
                                {{ id }}.
                                ajax.reload();
                            }
                        };
                        var data = new FormData();//end onreadystate
                        data.append('id', ev.currentTarget.getAttribute('data-cred'));
                        data.append('class', '{{ class }}');
                        data.append('space', '{{ space }}');
                        xhr1.send(data);

                    }
                    , function () {
                        showToast('Data tidak dihapus', 'warning');
                    }
                ).set({transition: 'fade'});
            });
            $(".loading-datatables").append("");
            $('.dropdown-trigger').dropdown();

            $('#dropdown1').append('<li><a href="#!">one</a></li>\n' +
                '    <li><a href="#!">two</a></li>\n' +
                '    <li class="divider" tabindex="-1"></li>\n' +
                '    <li><a href="#!">three</a></li>\n' +
                '    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>\n' +
                '    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>\n' +
                '  </ul>');
        });

        jQuery.fn.dataTableExt.oApi.fnPagingInfo = function (oSettings) {
            return {
                "iStart": oSettings._iDisplayStart,
                "iEnd": oSettings.fnDisplayEnd(),
                "iLength": oSettings._iDisplayLength,
                "iTotal": oSettings.fnRecordsTotal(),
                "iFilteredTotal": oSettings.fnRecordsDisplay(),
                "iPage": oSettings._iDisplayLength === -1 ?
                    0 : Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
                "iTotalPages": oSettings._iDisplayLength === -1 ?
                    0 : Math.ceil(oSettings.fnRecordsDisplay() / oSettings._iDisplayLength)
            };
        };

    </script>
{% endmacro %}